<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.readingpartner.mapper.VideoListMapper">
  <resultMap id="BaseResultMap" type="com.example.readingpartner.model.VideoList">
    <id column="vid" jdbcType="INTEGER" property="vid" />
    <result column="vtitle" jdbcType="VARCHAR" property="vtitle" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="collect_num" jdbcType="INTEGER" property="collectNum" />
    <result column="play_url" jdbcType="VARCHAR" property="playUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from video_list
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.readingpartner.model.VideoList">
    <selectKey keyProperty="vid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into video_list (vtitle, author, cover_url, 
      head_url, comment_num, like_num, 
      collect_num, play_url)
    values (#{vtitle,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{coverUrl,jdbcType=VARCHAR}, 
      #{headUrl,jdbcType=VARCHAR}, #{commentNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, 
      #{collectNum,jdbcType=INTEGER}, #{playUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.readingpartner.model.VideoList">
    update video_list
    set vtitle = #{vtitle,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      cover_url = #{coverUrl,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      comment_num = #{commentNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      collect_num = #{collectNum,jdbcType=INTEGER},
      play_url = #{playUrl,jdbcType=VARCHAR}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select vid, vtitle, author, cover_url, head_url, comment_num, like_num, collect_num, 
    play_url
    from video_list
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select vid, vtitle, author, cover_url, head_url, comment_num, like_num, collect_num, 
    play_url
    from video_list
  </select>
</mapper>